<!DOCTYPE html>
<html>
<body>
  <%= render "menu" %>
  <div>
    <h1 style="font-family:verdana;text-align:center">Super fake about section</h1>

  <center>
    <!--   <%= image_tag("web-design", height: 540, width: 1440) %> -->   
    <img src="/assets/web-design.jpg" style="height:540px;width:1440px;">
  </center>
  </div>
  <br>
  <hr>
  <br>
  <center>
  <p><h2>This is just a body with some text on it.</h2><br>
  Wooho! <br>
  I did it!</p>
  </center>
  <br>
  <br>
  <br>
  <br>

</body>
<footer>
  <p>Stupid footer to add info about me.
</footer>
</html>