 <!DOCTYPE html>
<html>
<body>
<div>
  <h1 style="font-family:verdana;text-align:center">My fake Web Home</h1>

<center>
  <img src="/assets/web-design.jpg" style="height:540px;width:1440px;">
</center>
</div>
<br>
<hr>
<br>
<center>
<table>
  <tr style="font-size: 30px">
    <td class="left">This is my first paragraph</td>
    <td class="right">This is the second one</td>
  </tr>
  <tr>
    <td class="left">Stupid information about paragraph one.</td>
    <td class="right">Stupid information about paragraph two.</td>
  </tr>
</table>
</center>
<br>
<br>
<br>
<br>

</body>
<footer>
  <p>Stupid footer to add info about me.
</footer>
</html>